
<div class="container">

  <h1>New Participation</h1>

  <%= render 'form', participation: @participation %>
  <br>

  <button type="button" class="btn btn-info"><%= link_to 'Back', participations_path %></button>
  
</div>